* {
  margin: 0;
  padding: 0;
}

.intro {
  overflow: hidden;
  padding-top: 20vh;
}

.intro img {
  height: 100vh;
  width: 100%;
  filter: brightness(50%);
  object-fit: cover;
}

.introText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  color: white;
  position: relative;
  margin-top: -100vh;
  height: 96vh
}

.sanskrit {
  font-size: 9vh;
  padding: 20px;
}

.meaning {
  font-size: 3vh;
  padding: 10px;
}

.introPara {
  font-size: 3vh;
  width: 70vw;
  padding: 10px;
  text-align: justify;
  text-justify: inter-word;
}

.lastInfo span {
  color: red;
  cursor: pointer;
}

.cs {
  align-items: center;
  padding: 20px;
}

.midPart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  height: 100vh;
  width: 100%;
}

.midText {
  width: 40vw;
  padding-bottom: 20px;
  height: auto;
  text-align: center;
  background-color: white;
  opacity: 0.9;
  margin: 30px;
  text-align: justify;
  text-justify: inter-word;
  border-radius: 10px;
}

.subInfo {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.subInfo h1 {
  padding: 5px 0px;
  font-size: 35px;
  color: red;
}

.subInfo p {
  padding: 5px 10px;
  font-size: 20px;
}

.last {
  height: 100%;
  width: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 6vh;
  background-color: black;
  background: rgb(0, 0, 0, 0.7);
  font-weight: 600;
}

.lastInfo {
  width: 90vw;
  padding: 10px;
  margin: 20px;
  display: flex;
  color: black;
  background-color: white;
  opacity: 0.9;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  text-align: justify;
  text-justify: inter-word;
}

.lastInfo img {
  height: 300px;
  width: 400px;
  padding: 10px;
  border-radius: 20px;
}

.infoHeading {
  font-size: 35px;
  color: red;
  padding: 10px 20px;
  font-weight: 600;
}

.infoPara {
  font-size: 20px;
  padding: 10px 25px;
  font-weight: 500;
}

@media only screen and (max-width: 1600px) {
  .sanskrit {
    font-size: 7vh;
  }

  .meaning {
    font-size: 2.8vh;
  }
}

@media only screen and (max-width: 1260px) {
  .sanskrit {
    font-size: 6vh;
  }

  .meaning {
    font-size: 2.5vh;
  }

  .midPart {
    height: 100%;
  }
}
@media only screen and (max-width: 1095px) {
  .midText {
    width: 90vw;
    height: auto;
    padding-bottom: 20px;
  }
  .sanskrit {
    font-size: 5vh;
  }
}



@media only screen and (max-width: 910px) {
  .sanskrit {
    font-size: 4vh;
    /* margin-top: -150vh; */
  }

  .introPara {
    font-size: 2vh;
    width: 80vw;
  }

  .meaning {
    /* margin-top: -110vh; */
    padding: 10px;
    font-size: 2vh;
  }
}

@media only screen and (max-width: 675px) {
  .sanskrit {
    font-size: 3vh;
  }

  .subInfo h1 {
    font-size: 30px;
  }

  .subInfo p {
    font-size: 18px;
  }

  .heading {
    font-size: 3vh;
  }

  .lastInfo img {
    height: 250px;
    width: 300px;
    padding: 10px;
  }

  .lastInfo {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .last {
    margin-top: 25px;
  }
}



@media only screen and (max-width: 995px) {
  .lastInfo {
    flex-direction: column;
  }

}

@media only screen and (max-width: 281px) {
  .lastInfo img{
    width: 270px;
  }

}
