.donationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20vh;
}

.donationBox {
  width: 90vw;
  margin: 20px;
  display: flex;
  color: black;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: justify;
  text-justify: inter-word;
}
.firstSection img,
.donationBox img,
.visionBox img {
  height: 400px;
  width: 500px;
}

.infoHeading {
  font-size: 35px;
  color: red;
  padding: 10px 20px;
  font-weight: 600;
}
.infoPara {
  font-size: 20px;
  padding: 10px 30px;
  font-weight: 500;
}

.donationDetails {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: white;
  padding: 20px;
  border-right: 4px solid red;
  border-left: 4px solid red;
}
.donationDetails h2 {
  color: red;
  font-weight: 500;
  font-size: 4vh;
  padding: 10px;
}
.donationDetails p {
  color: black;
  padding: 10px;
  font-weight: 400;
}

@media only screen and (max-width: 675px) {
  .donationBox img {
    height: 250px;
    width: 300px;
    padding: 10px;
  }

  .donationBox {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .donationDetails h2 {
    font-size: 3vh;
  }
}

@media only screen and (max-width: 1083px) {
  .donationContainer {
    padding-top: 40vh;
  }
}
@media only screen and (max-width: 750px) {
  .donationContainer {
    padding-top: 27vh;
  }
}

@media only screen and (max-width: 995px) {
  .donationBox {
    flex-direction: column;
  }

  .donationBox img {
    width: 100%;
    height: auto;
  }
  .infoPara {
    font-size: 18px;
  }
}
